<!DOCTYPE html>
<html>
<%- include('../../partials/header', {title: 'Medicines'}); %>

<body>
  <% include ../../partials/navbar %>

  <div class="container">
    <h1>Medicines</h1>
  </div>
  
  <% include ../../partials/scripts %>

</body>

</html>