<!DOCTYPE html>
<html>
<%- include('../partials/header', {title: 'Settings'}); %>

<body>
  <% include ../partials/navbar %>

  <div class="container">
    <h1>Settings</h1>
    <div>
      <a href="/settings/animals">Animals</a>
    </div>
    <div>
      <a href="/settings/medicines">Medicines</a>
    </div>
    <div>
      <a href="/settings/foods">Foods</a>
    </div>
    <div>
      <a href="/settings/users">Users</a>
    </div>
  </div>

  <% include ../partials/scripts %>
</body>

</html>