<!DOCTYPE html>
<html>
<%- include('../partials/header', {title: 'Settings'}); %>

<body>
  <% include ../partials/navbar %>

  <div class="container">
    <h1>Settings</h1>
    <a href="/settings/animals">Animals</a>
  </div>
  
  <% include ../partials/scripts %>
</body>

</html>