<!DOCTYPE html>
<html>
<%- include('../../partials/header', {title: 'Animals'}); %>

<body>
  <% include ../../partials/navbar %>

     <div class="container">
      <h1>Update Animal</h1>
      
      <form action="/settings/animals/update" method="POST" class="col-4 mt-5">
              <input type="hidden"name="id" value="<%=data._id%>"  />

            <input type="text" class="form-control" name="species" placeholder="Species" value="<%=data.species%>"  />
            <br>
            <input type="text" class="form-control" name="nickName" placeholder="Nickname" value="<%=data.nickName%>" />
            <br>
            <label>Enabled:
              <% if (data.enabled) {%>
              <input type="checkbox" class="form-control" name="enabled" checked/>
              <% } else { %>
                <input type="checkbox" class="form-control" name="enabled" />
              <% } %>
            </label>
            <br>
            <input type="submit" value="Submit" class="btn btn-primary mt-5"/>
        </form>
    </div>

  
  <% include ../../partials/scripts %>
</body>

</html>