<!DOCTYPE html>
<html>
<%- include('./partials/header', {title: 'Home Page'}); %>

<body>
  <% include ./partials/navbar %>

  <div class="container">
    <h1>We'll track feedings here</h1>
    <p>The current user's role is: <%=locals.user.role %></p>
  </div>
  
  <% include ./partials/scripts %>
</body>

</html>