<!DOCTYPE html>
<html>
<%- include('./partials/header', {title: 'Animals'}); %>

<body>
  <% include ./partials/navbar %>

  <div class="container">
    <h1>404 Not Found!</h1>
    <p>Sorry, we couldn't find that page. <a href="/">go home</a></p>
  </div>
  
  <% include ./partials/scripts %>

 
</body>

</html>